.inner {
    display: flex;
    gap: 100px;
    width: 1600px;
    margin: 0 auto;
    min-height: 400px;
}

.inner>* {
    flex: 1;

    display: flex;
    justify-content: center;
    align-items: center;
}

.slogan {
    font-family: 'Gamja Flower';
    font-size: 100px;
}

.section .content {
    background: mediumpurple;
    opacity: 0;
    transform: translate(-300px, 0);
    height: 400px;
    overflow: hidden;
    align-items: flex-start;
}

.section .content .case {
    transform: translate(0, 0);
    transition: 2s;
}

.section .content:hover .case {
    transform: translate(0, calc(-100% + 400px));
}

.section .description {
    background: tan;
    opacity: 0;
    transform: translate(300px, 0);
}

.section.on .content {
    transform: translate(0, 0);
    opacity: 1;
    transition: 1s 1s;
}

.section.on .description {
    transform: translate(0, 0);
    opacity: 1;
    transition: 1s 2s;
}


.header {
    position: fixed;
    inset: 50px auto auto 50px;
    z-index: 999;
}

.header.on {
    color: #fff;
}

.gnb {
    position: fixed;
    inset: 50% 50px auto auto;
    text-transform: (0, -40px);
    z-index: 999;

    width: 100px;
}

.gnb li {
    font-size: 0;
}

.gnb li a {
    position: relative;
    display: block;
    height: 10px;
    margin: 5px 0;
}

.gnb li a::before {
    content: "";
    position: absolute;
    inset: 50% 0 auto auto;
    width: 30px;
    height: 1px;
    background: #333;
    transition: 0.5s;
}

.gnb li.on a::before {
    width: 50px;
}













.cover {
    position: fixed;
    inset: 0 0 auto 0;
    background: #333;
    z-index: 998;
    color: #fff;

    display: flex;
    justify-content: center;
    align-items: center;

    /* display: none; */
    height: 0;
    overflow: hidden;
    transition: 1s;
}

.cover.on {
    height: 100vh;
}

.cover ul {
    height: 100vh;
}



.toTop {
    position: fixed;
    inset: auto 50px 50px auto;
    z-index: 999;
}

.mopen {
    position: fixed;
    inset: 50px 50px auto auto;
    z-index: 999;

    width: 30px;
    height: 30px;
    background: #f7f7f7;
}

.mopen button {
    font-size: 0;
    border: none;
    outline: none;
    background: transparent;
}

.mopen::before,
.mopen::after {
    content: "";
    position: absolute;
    inset: 5px 5px auto 5px;
    background: #333;
    height: 2px;
}

.mopen::before {
    inset: 5px 5px auto 5px;
}

.mopen::after {
    inset: auto 5px 5px 5px;
}

.mopen button::before,
.mopen button::after {
    content: "";
    position: absolute;
    inset: 50% 5px auto 5px;
    transform: translate(0, -50%);
    background: #333;
    height: 2px;
}

.mopen.on::before,
.mopen.on::after {
    opacity: 0;
}

.mopen.on button::before {
    transform: translate(0, -50%) rotate(45deg);
}

.mopen.on button::after {
    transform: translate(0, -50%) rotate(-45deg);
}




/* 
.gnb li {}

.gnb li.on {
    color: tomato;
    transition: 1s ;
}

.section {}

.section.on {
    font-size: 100px;
    transition: 1s 0.6s;
} */