* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: inherit;
    font-weight: inherit;
    color: inherit;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    line-height: 1;
    font-family: 'Roboto', 'Noto Sans KR', sans-serif;
}

img {
    max-width: 100%;
    visibility: middle;
}